body {
   padding-bottom: 20px;
}

#back-home {
   float: right;
   font-weight: bold;
}

.tab-pane {
   padding: 10px;
   border-bottom: 1px solid rgb(221, 221, 221);
}

/* keep canvas off the page */
canvas#graph {
   position: absolute;
   left: -500px;
   top: -500px;
}

#scroll-legend {
   text-align: right;
}

@media screen and (max-width: 767px) {
   #scroll-legend: text-align: left;
}

#graph-images {
   overflow-y: scroll;
   min-height: 170px;
}

#graph-images ul {
   list-style-type: none;
   padding-right: 200px; /* ensure the newest data isn't jutted against the side */
}

#graph-images ul li {
   float: left;
}

#graph-images li#graph-counts {
   height: 170px;
   font-weight: bold;
   padding-left: 10px;
}

/* todo: remove this ghetto hack to vertically center text */
#graph-images li#graph-counts div {
   height: 52px;
   line-height: 70px;
}

#honeypot-list td {
   padding: 2px;
}

#honeypot-list td.ip_clickable {
   cursor: pointer;
   text-decoration: underline;
}


#data-log {
   max-height: 150px;
   overflow-y: scroll;
}

#map {
   height: 400px;
}

.commit i.fa-github {
   cursor: pointer;
   display: block;
   text-align: center;
}

.commit .body {
   display: none;
}
