/* keep it off the page */
canvas#graph {
   position: absolute;
   left: -500px;
   top: -500px;
}

#graph-images {
   overflow-y: scroll;
   min-height: 170px;
}

#graph-images ul {
   list-style-type: none;
   padding-right: 200px; /* ensure the newest data isn't jutted against the side */
}

#graph-images ul li {
   float: left;
}

#honeypot-list td {
   padding: 2px;
}


#data-log {
   max-height: 200px;
   overflow-y: scroll;
}

#map {
   height: 400px;
}
